h1{
	color: white;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height:1;
	font-size: 64px;
}

.container{
	margin: 0;
    min-height: 100%;
    display: flex; /* body is the outer flex container */
    flex-flow: row wrap;
    text-align: center;
}

html {
     height: 100%;
     box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}

*, *:before, *:after {
     box-sizing: inherit; /* https://css-tricks.com/box-sizing/ */
}

body, #root {
    margin: 0;
	width: 100%;
    height: 100%;
	background: #2193b0; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #6dd5ed , #2193b0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,  #6dd5ed, #2193b0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,  #6dd5ed, #2193b0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,  #6dd5ed , #2193b0); /* Standard syntax */
}

#inner-flex-container {
   display: flex;
   flex-direction: column;
   width: calc(100% - 275px);
   order: 1;
}

.nav   { flex: 1 275px; order: 0;}// overflow: auto; height:100vh;} // this is making it not mobile responsive
header  { flex: 1; order: 0;}
section { flex: 4; order: 1; padding: 10px; }

@media screen and ( max-width: 500px) {
     body { flex-direction: column; }
     .nav { flex: 1; order: 2; }
     section{ flex: 15;}
     #inner-flex-container { width: 100%; flex: 6; }
}

/* Saving Form */
form{
	font-family: 'Helvetica Neue', sans-serif; 
	
	label{
		display: block;
		font-size: 0.8rem;
		line-height: 1.4rem;
		font-weight: 250;
		float:left;
	}

	input{
		border: 1px solid white;
		font-size: 1rem;
		padding: 0.5rem;
		display: block;
		width: 100%;
		border-radius: 3px;
		color: dimgray;
	}

	select{
		width: 100%;
		display: block;
		border-radius: 3px;
		font-size: 1rem;
		color: dimgray;
		height: 2.5rem;
	}

	button{
		padding: 1em;
		margin-top: 12px;
		margin-left: 6px;
		margin-right: 6px;
		border: 1px solid white;
		border-radius: 3px;
		display: inline-block;
		width: 45%;
		background-color: #6dd5ed;
		color: white;
		transition: all 0.3s ease-in-out;

		&:hover{
			background-color: white;
			color: #6dd5ed;
			cursor: pointer;
		}
	}
}

/* Side Menu */
.navList {
	list-style: none;
	padding: 0px;
	margin: 0px;

	div{
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		color: white;

		.active{
			padding: 8px;
			max-height: 500px;
    		opacity: 1;
			transition: all 0.5s ease-in-out;
		}

		.inactive{
			max-height: 0px;
			opacity: 0;
			overflow: hidden;
			transition: all 0.5s ease-in-out;
		}
	}

	li {
		padding: 16px 32px;
		border: 1px solid white;
		color: white;
		transition: all 0.3s;
		font-family: 'Helvetica Neue', sans-serif; 
		font-weight: bold; 

		position:relative;
		a {
			position: absolute;
			top: 0;
			right: 4px;
			font-size: 24px;

			&:hover{
				color: red;
			}
		}

		&:hover{
			background-color:white;
			color: #2193b0;
			cursor: pointer;
		}
	}
}